<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="login-user.html">
<link rel="import" href="shared-styles.html">

<dom-module id="bank-home">
  <template>
    <style include="shared-styles"></style>
    <!-- Loading login-user component for logging and Sign Up -->
    <login-user></login-user>
  </template>

  <script>
    class BankHome extends Polymer.Element {
      static get is() {
        return 'bank-home';
      }

      static get properties() {
        return {};
      }
    }

    window.customElements.define(BankHome.is, BankHome);
  </script>
</dom-module>