<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="bank-404">
  <template>
    <!-- Adding some styling. -->
    <style>
      :host {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background: white;
      }

      :host > * {
        padding: 20px 0;
      }

      .page-not-found {
        width: 800px;
      }

      .home-page-link {
        border: 3px solid grey;
        font-size: 200%;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <!-- Adding a message, image for page not found 404 -->
    <img class="page-not-found" src="../images/PageNotFound.png">

    <h2>Lo sentimos, página Web no encontrada. Por favor, vuelva a cargar la página de Inicio</h2>
    <!-- Adding a link to the default page. -->
    <a class="home-page-link" href="/">TechU WebPage</a>
  </template>

  <script>
    class Bank404 extends Polymer.Element {
      static get is() {
        return 'bank-404';
      }

      static get properties() {
        return {};
      };
    }

    window.customElements.define(Bank404.is, Bank404);
  </script>
</dom-module>