<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="bank-account">
  <template>
    <custom-style>
      <!-- Adding some styling -->
      <style>
        paper-toggle-button {
          padding: 20px 0;
        }
        paper-toggle-button.pink {
          --paper-toggle-button-checked-bar-color:  var(--paper-pink-500);
          --paper-toggle-button-checked-button-color:  var(--paper-pink-500);
          --paper-toggle-button-checked-ink-color: var(--paper-pink-500);
          --paper-toggle-button-unchecked-bar-color:  var(--paper-indigo-900);
          --paper-toggle-button-unchecked-button-color:  var(--paper-indigo-900);
          --paper-toggle-button-unchecked-ink-color: var(--paper-indigo-900);
        }

        paper-button {
          margin: 0;
          display: flex;
        }

        paper-button.pink {
          background-color: var(--paper-pink-500);
          color: white;
          --paper-button-raised-keyboard-focus: {
            background-color: var(--paper-pink-a200) !important;
            color: white !important;
          };
        }

        paper-button.indigo {
          background-color: var(--paper-indigo-500);
          color: white;
          --paper-button-raised-keyboard-focus: {
            background-color: var(--paper-pink-a200) !important;
            color: white !important;
          };
        }

        :host {
          display: block;
          margin: 20px;
        }

        h1 {
          margin: 20px 0;
          color: #000000;
        }

        .profile {
          display: flex;
          align-items: center;
        }
          
        .profile-image {
          width: 180px;
          border-radius: 50%;
          box-shadow: 0 10px 25px rgba(179, 179, 179, 0.5)
        }

        .profile-info {
          margin-left: 15px;
        }
        
        .profile-name {
          font-size: 40px;
          color: #000000;
          margin: 0;
        }
        
        .profile-email {
          font-size: 30px;
          color: #000000;
          margin: 0;
        }

        .date {
          color: #000000;
          font-size: 15px;
          margin-top: 30px;
          text-align: right;
        }

        .main-details {
          display: flex;
          align-items: center;
        }

        .actions {
          margin-left: auto;
        }

        .actions h2 {
          margin: 0;
        }

        .actions input {
          font-family: "Roboto", sans-serif;
          outline: 0;
          background: #f2f2f2;
          width: 100%;
          border: 0;
          margin: 0 0 15px;
          padding: 15px;
          box-sizing: border-box;
          font-size: 14px;
        }

        .transaction {
          background: #ffffff;
          color: #000000;
          padding: 20px;
        }

        .trans-header {
          display: flex;
          align-items: center;
          padding: 10px 0;
        }

        .trans-header h1 {
          margin: 0;
          color: #000000;
        }

        .trans {
          border-top: 1px solid #f2f2f2;
        }

        .trans-balance {
          font-size: 40px;
          margin-left: auto;
        }

        .trans-details {
          display: flex;
          align-items: center;
          padding: 20px 0;
          border-bottom: 1px solid #f2f2f2;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
        }

        .trans-details > * {
          display: flex;
          flex-direction: column;
          flex-basis: 100%;
          flex: 1;
        }

        .trans-amount {
          text-align: right;
        }

        .trans-amount.negative {
          color: red;
          font-weight: bold;
          flex-direction: row-reverse;
        }

        .trans-amount.negative::after {
          content: '-';
        }
      </style>
    </custom-style>

    <!-- Routing configuration for the app. -->
    <app-route
      route="[[route]]"
      pattern="/:id"
      data="{{routeData}}">
    </app-route>

    <!-- Transaction list: Adding network functionality for requesting and receving data -->
    <iron-ajax
      id="transaction_list"
      url="http://localhost:3000/apitechu/listMov[[accountId]]"
      handle-as="json"
      on-response="transactionListResponse"
      on-error="transactionListError">
    </iron-ajax>

    <!-- Transaction NewMovement: Adding network functionality for requesting and receving data -->
    <iron-ajax
      id="transaction_operation"
      url="http://localhost:3000/apitechu/newmov"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="transactionOperationResponse"
      on-error="transactionOperationError">
    </iron-ajax>

    <h1>Detalle de la cuenta</h1>
    <!-- Drawing user info -->
    <div class="main-details">
      <div class="profile">
        <img class="profile-image" src="[[userDetails.avatar]]" alt="User profile image">
        <div class="profile-info">
          <p class="profile-name">[[userDetails.firstName]] [[userDetails.lastName]]</p>
          <p class="profile-email">[[userDetails.email]]</p>
        </div>
      </div>
      <!-- Drawing operations -->
      <div class="actions">
        <h2>Nueva transacción</h2>
        <paper-toggle-button id="transaction_type" class="pink" on-click="toggleButtonClick">
          <strong>[[toggleText]]</strong>
        </paper-toggle-button>
        <input type="text" placeholder="Concepto" value="{{concept::input}}"/>
        <input type="number" placeholder="Cantidad" value="{{amount::input}}"/>
        <paper-button class$="[[toggleClass]]" raised on-click="operationClick">Realizar Operación</paper-button>
      </div>
    </div>

    <!-- Drawing the total current balance -->
    <div class="date">[[currentDate]]</div>

    <div class="transaction">
      <div class="trans-header">
        <h1>Current Balance</h1>
         <span class="trans-balance">[[totalBalance]]</span>
      </div>
      <div class="trans-list">
        <div class="trans">
          <template is="dom-repeat" items="[[transactionList]]">
            <div class="trans-details">
              <span class="trans-date">[[computedDate(item.fecha)]]</span>
              <span class="trans-concept">[[item.Concepto]]</span>
              <span class$="trans-amount [[computeNegative(item.BalanceAnterior, item.BalanceActual)]]">[[computedAmount(item.CantidadModificada)]]</span>
            </div>
          </template>
        </div>
      </div>
    </div>
  </template>

  <script>
    class BankAccount extends Polymer.Element {
      static get is() {
        return 'bank-account';
      }

      static get properties() {
        return {
          route: Object,
          routeData: Object,
          accountId: String,
          userDetails: {
            type: Object,
            notify: true
          },
          currentDate: {
            type: String,
            value: ''
          },
          transactionList: Array,
          toggleText: {
            type: String,
            value: 'INGRESAR'
          },
          toggleClass: {
            type: String,
            value: 'indigo'
          },
          concept: String,
          amount: String,
          totalBalance: String
        };
      }
      //Called after property values and local DOM is initialized.
      ready() {
        super.ready();
        this.currentDate = this.formatDate(new Date());
        this.totalBalance = this.computeTotalBalance(this.userDetails.totalAmount) || 0;
        this.accountId = this.route.path;
        this.$.transaction_list.generateRequest();
      }
      //Formating Date.
      formatDate(date) {
        return new Date(date).toLocaleDateString('es-ES', {
          weekday: 'long',
          year: 'numeric',
          month: 'long',
          day: 'numeric'
        });
      }
      //Formatting Number.
      formatNumber(num) {
        return num.toLocaleString('es-ES', {
          style: 'currency',
          currency: 'EUR',
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
        });
      }
      //Treating the transaction list response.
      transactionListResponse(ev) {
        console.log('TRANSACTION LIST: ' + JSON.stringify(ev.detail.response));
        let promise = new Promise((resolve, reject) => {
          let transiactionList = ev.detail.response.sort((a, b) => {
            return new Date(b.fecha) - new Date(a.fecha);
          });

          resolve(transiactionList);
        });

        promise.then((result) => {
          this.transactionList = result;
        });
      }
      //Treating the TransactionList error.
      transactionListError(ev) {
        console.log('Error al procesar la petición: ' + ev.detail.error);
      }
      //Format Date
      computedDate(date) {
        return this.formatDate(date);
      }
      //Treating the amount.
      computedAmount(amount) {
        return this.formatNumber(Math.abs(amount));
      }
      //Treating the negative balance.
      computeNegative(oldBalance, newBalance) {
        return newBalance < oldBalance ? 'negative' : '';
      }
      //Treating the Total Balance in all accounts.
      computeTotalBalance(balance) {
        return this.formatNumber(balance);
      }
      //Changing Text and CSS class for movements ToogleButtonClick 
      toggleButtonClick(ev) {
        if (ev.currentTarget.checked) {
          this.toggleText = 'RETIRAR';
          this.toggleClass = 'pink';
        } else {
          this.toggleText = 'INGRESAR';
          this.toggleClass = 'indigo';
        }
      }

      operationClick(ev) {
        // CHECKED -> WITHDRAWALS
        // NOT CHECKED -> INCOME
        
        const amount = this.$.transaction_type.checked ? this.amount * -1 : Number(this.amount);
        const operation = {
          id: this.routeData.id,
          concepto: this.concept,
          amount: amount
        };
        // Launching the request to the body
        this.$.transaction_operation.body = operation;
        this.$.transaction_operation.generateRequest();
      }
      //Treating the response of the operation.
      transactionOperationResponse(ev) {
        console.log('TRANSACTION OPERATION: ' + JSON.stringify(ev.detail.response));
        let totalBalance = Number(this.handleFormattedNumber(this.totalBalance));
        if (this.$.transaction_type.checked) {
          totalBalance = totalBalance + this.amount * -1;
        } else {
          totalBalance = totalBalance + Number(this.amount);
        }
        this.totalBalance = this.formatNumber(totalBalance);
        this.$.transaction_list.generateRequest();

        // Cleaning the transaction.
        this.concept = '';
        this.amount = '';
      }
      //Treating the error of the operation.
      transactionOperationError(ev) {
        console.log('Error al procesar la petición: ' + ev.detail.error);
      }
      //Handleling Number
      handleFormattedNumber(str) {
        let subStr = String(str)
          .replace(/\s+/g, ' ') // replace char 160 to normal space char
          .split('.') // removing dots
          .join('') // and joining to unformat to number
          .replace(',', '.') // replacing comma by dots for decimal
          .split(' ')[0]; // use only first block
        return isFinite(subStr) ? parseFloat(subStr) : str;
      }
    }

    window.customElements.define(BankAccount.is, BankAccount);
  </script>
</dom-module>