<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="bank-user">
  <template>
    <!-- Adding Styling. -->
    <custom-style>
      <style>
        :root {
          --paper-card-header-color: #ffffff;
          --paper-card: {
            min-width: 300px;
          };
          --paper-item: {
            border-bottom: 1px solid #dddddd;
          };
          --paper-item-min-height: 60px;
        }

        paper-button.custom {
          margin-left: auto;
          --paper-button-ink-color: var(--paper-pink-a200);
          --paper-button-flat-keyboard-focus: {
            background-color: var(--paper-pink-a200) !important;
            color: white !important;
          };
          --paper-button-raised-keyboard-focus: {
            background-color: var(--paper-pink-a200) !important;
            color: white !important;
          };
        }

        paper-button.custom:hover {
          background-color: var(--paper-indigo-100);
        }

        :host {
          display: block;
        }

        .container {
          display: flex;
        }

        .container > * {
          margin-right: 20px;
        }

        .paper-items-wrapper {
          border-top: 1px solid #dddddd;
        }

        .paper-item-link {
          color: inherit;
          text-decoration: none;
        }

        .accounts-list {
          background: #ffffff;
          min-width: 450px;
        }

        .accounts-list h2 {
          padding: 0px 16px;
        }

        .account-detail {
          display: flex;
          flex-direction: column;
          margin-right: 10px;
        }
      </style>
    </custom-style>

    <!-- Routing configuration for the app. -->
    <app-route
      route="{{route}}"
      pattern="/:id"
      data="{{routeData}}">
    </app-route>

    <!-- User:/id: Adding network functionality for requesting and receving data -->
    <iron-ajax
      id="user_request"
      url="http://localhost:3000/apitechu/users[[id]]"
      handle-as="json"
      on-response="userDetailResponse"
      on-error="userDetailError">
    </iron-ajax>

    <!-- Accounts:/id: Adding network functionality for requesting and receving data -->
    <iron-ajax
      id="user_accounts"
      url="http://localhost:3000/apitechu/accounts[[id]]"
      handle-as="json"
      on-response="userAccountsResponse"
      on-error="userAccountsError">
    </iron-ajax>

    <!-- Container for Name, Email, Avatar -->
    <div class="container">
      <paper-card heading="Bienvenido/a [[userDetails.firstName]]" image="[[userDetails.avatar]]" alt="Bienvenido/a">
        <div class="card-content">
          <p><strong>Nombre:</strong> [[userDetails.firstName]]</p>
          <p><strong>Apellidos:</strong> [[userDetails.lastName]]</p>
          <p><strong>Email:</strong> [[userDetails.email]]</p>
        </div>
        <div class="card-actions">
          <paper-button raised>Profile</paper-button>
        </div>
      </paper-card>

    <!-- Lists of Accounts -->
      <div class="accounts-list">
        <h2>Cuentas</h2>
        <div role="listbox" class="paper-items-wrapper">
          <template is="dom-repeat" items="[[accounts]]">
            <paper-item>
              <div class="account-detail">
                <span><strong>IBAN:</strong> [[item.iban]]</span>
                <span><strong>SALDO:</strong> [[computeBalance(item.balance)]]</span>
              </div>
              <paper-button class="custom" raised on-click="userAccountClick">Detalle</paper-button>
            </paper-item>
          </template>
          <paper-item>
            <div class="account-detail">
              <span><strong>SALDO TOTAL:</strong> [[totalAmount]]</span>
            </div>
          </paper-item>
        </div>
      </div>
    </div>

  </template>

  <script>
    class BankUser extends Polymer.Element {
      static get is() {
        return 'bank-user';
      }

      static get properties() {
        return {
          id: String,
          route: Object,
          routeData: Object,
          userDetails: {
            type: Object,
            notify: true
          },
          accounts: Array,
          totalAmount: String
        };
      }

      //Called after property values and local DOM is initialized.
      ready() {
        super.ready();
        this.id = this.route.path;
        this.$.user_request.generateRequest();
      }

      //Navigating to the path /account/:id
      userAccountClick(ev) {
        window.history.pushState({}, null, '/account/' + ev.model.item.id);
        window.dispatchEvent(new CustomEvent('location-changed'));
      }
      //User details response.
      userDetailResponse(ev) {
        console.log('USER DETAILS: ' + JSON.stringify(ev.detail.response));
        const response = ev.detail.response;

        this.userDetails = {
          id: this.id,
          firstName: response.first_name,
          lastName: response.last_name,
          email: response.email,
          isLogged: response.logged,
          avatar: `https://randomuser.me/api/portraits/${response.sexo === 'H' ? 'men' : 'women'}${this.id}.jpg`
        };
        this.$.user_accounts.generateRequest();
      }
      //In case of getting error.
      userDetailError(ev) {
        console.log('Error al procesar la petición: ' + ev.detail.error);
      }
      
      userAccountsResponse(ev) {
        console.log('USER ACCOUNTS: ' + JSON.stringify(ev.detail.response));

        // Filling the property from the accounts response
        this.accounts = ev.detail.response;

        // Calculating the amount of total salary.
        this.totalAmount = this.formatNumber(this.accounts.reduce((a, b) => a + b.balance, 0));
        this.userDetails = Object.assign({ totalAmount: this.totalAmount }, this.userDetails);
      }
      //Treating the error getting the accounts.
      userAccountsError(ev) {
        console.log('Error al procesar la petición: ' + ev.detail.error);
      }
      //Calling the function formatNumber for amount treatment.
      computeBalance(amount) {
        return this.formatNumber(amount);
      }
      //formatting number to es and currecy EUR.
      formatNumber(num) {
        return num.toLocaleString('es-ES', {
          style: 'currency',
          currency: 'EUR',
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
        });
      }
    }

    window.customElements.define(BankUser.is, BankUser);
  </script>
</dom-module>