<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">

<dom-module id="login-user">
  <template>
    <!-- Adding some styling -->
    <style>
      :host {
        display: block;
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
      }
      .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }
      .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }
      .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      .form button:hover,
      .form button:active,
      .form button:focus {
        background: #43A047;
      }
      .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
      }
      .form .message a {
        color: #4CAF50;
        text-decoration: none;
      }
      .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
      }
      .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
      }
      .container .info {
        margin: 50px auto;
        text-align: center;
      }
      .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
      }
      .container .info span {
        color: #4d4d4d;
        font-size: 12px;
      }
      .container .info span a {
        color: #000000;
        text-decoration: none;
      }
      .container .info span .fa {
        color: #EF3B3A;
      }
      .radio-gender {
        margin-bottom: 10px;
      }
    </style>

    <div class="login-page">
      <!-- Logging form -->
      <div class="form">

        <!-- Form Sing Up. New user. -->
        <form hidden$="[[!toggleRegisterForm]]">
          <input type="text" placeholder="name" value="{{name::input}}" required/>
          <input type="text" placeholder="last name" value="{{lastName::input}}" required/>
          <input type="password" placeholder="password" value="{{password::input}}" required/>
          <input type="email" placeholder="email" value="{{email::input}}" required/>
          <paper-radio-group id="radio_gender" class="radio-gender" aria-labelledby="label1">
            <paper-radio-button name="H">Hombre</paper-radio-button>
            <paper-radio-button name="M">Mujer</paper-radio-button>
          </paper-radio-group>
          <button on-click="register">create</button>
          <p class="message">Already registered?<button on-click="toggleForm">Sign In</button></p>
        </form>

        <!-- Form User Logging  -->
        <form hidden$="[[toggleRegisterForm]]">
          <input type="email" placeholder="email" value="{{email::input}}" required/>
          <input type="password" placeholder="password" value="{{password::input}}" required/>
          <button on-click="login">login</button>
          <p class="message">Not registered?<button on-click="toggleForm">Create an account</button></p>
        </form>
      </div>
    </div>

    <!-- Logging: Adding network functionality for requesting and receving data -->
    <iron-ajax
      id="login_request"
      url="http://localhost:3000/apitechu/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="loginResponse"
      on-error="loginError">
    </iron-ajax>

    <!-- Users: Adding network functionality for requesting users -->
    <iron-ajax
      id="register_request"
      url="http://localhost:3000/apitechu/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="registerResponse"
      on-error="registerError">
    </iron-ajax>

  </template>

  <script>
    class LoginUser extends Polymer.Element {
      static get is() {
        return 'login-user';
      }

      static get properties() {
        return {
          email: String,
          password: String,
          name: String,
          lastName: String,
          showLogged: {
            type: Boolean,
            value: false
          },
          toggleRegisterForm: {
            type: Boolean,
            value: false
          }
        };
      }
      //Prevent default event behavior.
      toggleForm(ev) {
        ev.preventDefault();
        this.toggleRegisterForm = !this.toggleRegisterForm;
      }
      //Login user
      login(ev) {
        ev.preventDefault();
        const loginData = {
          email: this.email,
          password: this.password
        };

        // Launching the request to the body
        this.$.login_request.body = JSON.stringify(loginData);
        this.$.login_request.generateRequest();
      }

      // Getting the answer of the response.
      loginResponse(data) {
        console.log('Respuesta del servicio: ' + data.detail.response);

        // Changing the path with the user id, and launching event. 
        window.history.pushState({}, null, '/user/' + data.detail.response.idUsuario);
        window.dispatchEvent(new CustomEvent('location-changed'));
      }

      // In case login KO.
      loginError(ev) {
        console.log('Hubo un error en la recepción del login: ' + ev.detail.error);
        this.dispatchEvent(new CustomEvent('login-error', {
          bubbles: true,
          composed: true,
          detail: {
            msg: 'Error en login de usuario'
          }
        }));
      }

      //Generating random AutoID for the User and setting properties (firstname, email, sex, password...) 
      register(ev) {
        ev.preventDefault();
        const registerUser = {
          id: Math.floor(Math.random() * (99 - 31 + 1) + 31),
          first_name: this.name,
          last_name: this.lastName,
          email: this.email,
          sexo: this.$.radio_gender.selected,
          password: this.password
        };

        // Launching the request.
        this.$.register_request.body = registerUser;
        this.$.register_request.generateRequest();
      }

      // Response of the user logging. 
      registerResponse(data) {
        console.log('Respuesta del servicio: ' + data.detail.response);
        window.location.reload();
      }

      // Response of logging KO.
      registerError(ev) {
        console.log('Hubo un error en la recepción del registro de usuario: ' + ev.detail.error);
      }
    }
    window.customElements.define(LoginUser.is, LoginUser);
  </script>
</dom-module>