<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html" />

<link rel="lazy-import" href="bank-home.html">

<dom-module id="my-app">
  <template>
    <!-- Adding some Styling -->
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
        background: #dddddd;
        height: 100vh;
        font-family: "Roboto", sans-serif;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <!-- Routing configuration for the app. -->
    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>

    <!-- Using app-drawer component for Header layout -->
    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <div main-title>Bienvenido a su banco</div>
            <template is="dom-if" if="[[userDetails.isLogged]]">
              <paper-button raised on-click="logout">Cerrar Sesión</paper-button>
            </template>
          </app-toolbar>
        </app-header>
  
    <!-- Using <iron-pages> to select one between a list of children pages. bank-home, bank-user, bank-account, bank-404 -->
        <iron-pages
          selected="[[page]]"
          attr-for-selected="name"
          selected-attribute="visible"
          fallback-selection="404"
          role="main">
          <bank-home name="home"></bank-home>
          <bank-user name="user" route="[[subroute]]" user-details="{{userDetails}}"></bank-user>
          <bank-account name="account" route="[[subroute]]" user-details="{{userDetails}}"></bank-account>
          <bank-404 name="404"></bank-404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>

    <!-- Logout: Adding network functionality for requesting and receving data -->
    <iron-ajax
      id="logout_user"
      url="http://localhost:3000/apitechu/logout[[userDetails.id]]"
      handle-as="json"
      method="POST"
      on-response="logoutResponse"
      on-error="logoutError">
    </iron-ajax>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.

    // improving scroll performance. (Passive event listeners)
    Polymer.setPassiveTouchGestures(true);


    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          subrouteData: Object,
          userDetails: Object
        };
      }

      // Setting the observers for page location and user data modification.
      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
          '_userDetailsChanged(userDetails.*)'
        ];
      }

      // Generating the request for logout <iron-ajax>
      logout() {
        this.$.logout_user.generateRequest();
      }
      // Response of logging out moving to the default login page.
      logoutResponse(ev) {
        this.set('route.path', '/');
      }
      //In case of error loggin out the user, sending a message of the error received.
      logoutError(ev) {
        console.log('Error al procesar la petición: ' + ev.detail.error);
      }
      //In case the user is not logged:true he will be redirected to the default page. 
      _userDetailsChanged(userDetails) {
        if (this.page !== 'home' && !userDetails.base.isLogged) {
          this.set('route.path', '/');
          window.location.reload();
        }
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'home' in that case.
        this.page = page || 'home';
      }
      //resolve "bank-" + page + ".html" 
      _pageChanged(page, oldPage) {
        if (page != null) {
          Polymer.importHref(this.resolveUrl('bank-' + page + '.html'), null, this._showPage404.bind(this), true);
        }
      }
      //show page not found (404)
      _showPage404() {
        this.page = '404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>